/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require heavytable
 //= require bootstrap-select
 */

@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: steelblue;
  font-family: "Open Sans", arial;
}

.alert {
  padding: 0;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  color: red !important;
}

.no-data {
  text-align: center;
}

// TODO: Move this out to somewhere cool
.heavy-table {
  div {
      overflow: hidden;
      -webkit-transition: max-height 1.5s cubic-bezier(0, 1.05, 0, 1);
      -moz-transition: max-height 1.5s cubic-bezier(0, 1.05, 0, 1);
      transition: max-height 1.5s ease cubic-bezier(0, 1.05, 0, 1);
  }

  div:hover {
      -webkit-transition: max-height 2s ease;
      -moz-transition: max-height 2s ease;
      transition: max-height 2s ease;
      max-height: 400px;
  }

  .table-button-center {
    text-align: center
  }
}