// Place all the styles related to the Vehicles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.vehicle-information {
  top: -5px;
}

.row {
  margin-top: 5px;
}

.select-element {
  padding-left: 15px;
}

.bootstrap-select.btn-group .dropdown-menu {
  margin-left: 15px;
}

// .dropdown-toggle {
//   width: 500px !important;
// }